<html>
   <body>
      <b>Uniqle_id</b>
      <p id="unique_id"><%= unique_id %></p>
   	<b>Translate</b>
      <form action = "/api/v1/translate" method = "POST">
         xmlModel: <!--input type = "text" name = "xmlModel"><br> -->
         <textarea name="xmlModel" rows="10" cols="100" white-space="pre-wrap">input your xmlModel</textarea>
         <input type = "submit" value = "Submit">
      </form> 
      <b>Compile</b>
      <form action = "/api/v1/compile" method = "POST">
         unique_id: <input type = "text" name = "unique_id"><br>
         <!-- chaincode: <input type = "text" name = "chaincode"><br> -->
         <textarea name="chaincode" rows="10" cols="100" white-space="pre-wrap">input your chaincode</textarea>
         <input type = "submit" value = "Submit">
      </form>
      <b>Deploy</b> 
      <form action = "/api/v1/deploy" method = "POST">
         unique_id: <input type = "text" name = "unique_id"><br>
         chaincode: <input type = "text" name = "chaincode"><br>
         <input type = "submit" value = "Submit">
      </form>
      <b>Invoke</b>
      <form action = "/api/v1/invoke" method = "POST">
         unique_id: <input type = "text" name = "unique_id"><br>
         peer: <input type = "text" name = "peer"><br>
         function_name: <input type = "text" name = "function_name"><br>
         parameters: <input type = "text" name = "parameters"><br>
         <input type = "submit" value = "Submit">
      </form>   
      <b>Translate Results</b>
      <p id="translate_results"><%= translate_results %></p>
      <b>Compile Results</b>
      <p id="compile_results"><%= compile_results %></p>  
      <b>Deploy Results</b>
      <p id="deploy_results"><%= deploy_results %></p>  
      <b>Invoke Results</b>
      <p id="invoke_results"><%= invoke_results %></p>    
   </body>
</html>