<html>
   <body>
   	<b>List All Networks</b>
      <p id="all_networks"><%= all_networks %></p>  
      <form action = "http://127.0.0.1:3000/api/v1/list" method = "POST">
         xmlModel: <input type = "text" name = "xmlModel"><br>
         <input type = "submit" value = "Submit">
      </form> 
   	  <b>Translate</b>
      <form action = "http://127.0.0.1:3000/api/v1/translate" method = "POST">
         xmlModel: <input type = "text" name = "xmlModel"><br>
         <input type = "submit" value = "Submit">
      </form> 
      <b>Compile</b>
      <form action = "http://127.0.0.1:3000/api/v1/compile" method = "POST">
         uniqle_id: <input type = "text" name = "uniqle_id"><br>
         chaincode: <input type = "text" name = "chaincode"><br>
         <input type = "submit" value = "Submit">
      </form>
      <b>Deploy</b> 
      <form action = "http://127.0.0.1:3000/api/v1/deploy" method = s"POST">
         uniqle_id: <input type = "text" name = "uniqle_id"><br>
         chaincode: <input type = "text" name = "chaincode"><br>
         <input type = "submit" value = "Submit">
      </form>
      <b>Invoke</b>
      <form action = "http://127.0.0.1:3000/api/v1/invoke" method = "POST">
         uniqle_id: <input type = "text" name = "uniqle_id"><br>
         function_name: <input type = "text" name = "function_name"><br>
         parameters: <input type = "text" name = "parameters"><br>
         <input type = "submit" value = "Submit">
      </form>   
      <b>Translate Results</b>
      <p id="translate_results"><%= translate_results %></p>
      <b>Compile Results</b>
      <p id="compile_results"><%= compile_results %></p>  
      <b>Deploy Results</b>
      <p id="deploy_results"><%= deploy_results %></p>  
      <b>Invoke Results</b>
      <p id="invoke_results"><%= invoke_results %></p>    
   </body>
</html>